body {
  /*taille écriture*/
  font-size: 25px;
  text-align:left; /*Position texte*/
  /*Définir les marges de la page*/
  width: 75%;
  margin: 55px auto; /*Centre les div dans la page*/
}

p{
  font-size: 18px;
}

img {
  position: relative;
  max-width: 30%;
  max-height: 30%;
  top: 40px;
}

.graph{
  position: absolute;
    top: 120px;
    left: 850px;
    width: 350px;

}

.rectangle{
  position: absolute;
  top: 35px;
  left: 115px;
  width:1300px;
  height:670px;
  border: 2px solid black;
  border-radius: 50px;
}

.bouton_retour{
  position: absolute;
  top: 60px;
  left: 30px;
  width:55px;
  height:55px;
}

.bouton_accueil{
  position: absolute;
  top: 150px;
  left: 30px;
  width:55px;
  height:55px;
}

.bouton_categorie{
  position: absolute;
  z-index: 1; /*mettre le bouton au premier plan. L'attribut avec le plus gd z-max est au premier plan*/
  top: 700;
  left: 460px;
  border-radius: 12px;
  padding: 8px 28px;
  background-color: white;
  border: 2px solid black;
}

.bouton_trajet{
  position: absolute;
  z-index: 1;
  top: 700;
  left: 700px;
  border-radius: 12px;
  padding: 8px 28px;
  background-color: white;
  border: 2px solid black;
}

.bouton_catalogue{
  position: absolute;
  z-index: 1;
  top: 700;
  left: 870px;
  border-radius: 12px;
  padding: 8px 28px;
  background-color: white;
  border: 2px solid black;
}



